.NavContainor{
    width: calc(100vw - 120px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    height: 80px;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    /* color: rgb(9, 1, 32); */
    z-index: 10;
    padding: 0px 60px;

}
.leftNav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leftNavbtm{
    font-size: 17px;
}
.logo{
    width: 200px;
    margin-top: 10px;
}

@media (max-width: 500px){
    .NavContainor{
        width: calc(100vw - 30px);
        padding: 0px 15px;
    }
}